In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("Weather_1997-2015.csv")

In [27]:
df["na_values"]=df.isna().sum(axis=1)
df

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees,na_values
0,1997-01-01,7.0,4.0,2.0,5.0,3.0,2.0,100.0,95.0,76.0,...,9.0,4.0,13,6,NaN,0.00,6.0,NaN,229,2
1,1997-01-02,7.0,3.0,0.0,6.0,3.0,0.0,100.0,92.0,71.0,...,9.0,4.0,26,8,47.0,0.00,5.0,Rain,143,0
2,1997-01-03,5.0,3.0,2.0,5.0,1.0,-1.0,100.0,85.0,70.0,...,10.0,7.0,27,19,NaN,0.00,6.0,Rain-Snow,256,1
3,1997-01-04,7.0,3.0,-1.0,-2.0,-3.0,-4.0,86.0,63.0,49.0,...,10.0,10.0,27,19,40.0,0.00,2.0,NaN,284,1
4,1997-01-05,2.0,0.0,-1.0,2.0,0.0,-3.0,100.0,95.0,86.0,...,5.0,1.0,14,6,NaN,0.00,7.0,Snow,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6807,2015-12-27,14.0,7.0,-1.0,6.0,2.0,-2.0,100.0,77.0,30.0,...,14.0,5.0,14,6,NaN,0.00,8.0,Fog,38,1
6808,2015-12-28,15.0,8.0,2.0,8.0,4.0,1.0,100.0,78.0,34.0,...,14.0,8.0,27,8,45.0,0.51,7.0,Rain,243,0
6809,2015-12-29,11.0,8.0,5.0,9.0,7.0,5.0,100.0,89.0,66.0,...,9.0,0.0,14,8,32.0,2.03,5.0,Fog-Rain,190,0
6810,2015-12-30,9.0,8.0,6.0,7.0,6.0,5.0,93.0,87.0,70.0,...,10.0,6.0,14,5,34.0,0.00,6.0,NaN,256,1
6811,2015-12-31,12.0,10.0,7.0,10.0,8.0,7.0,100.0,90.0,70.0,...,8.0,2.0,14,6,NaN,0.25,6.0,Rain,313,1

In [29]:
df[['Max TemperatureC','Min TemperatureC']]

      Max TemperatureC  Min TemperatureC
0                  7.0               2.0
1                  7.0               0.0
2                  5.0               2.0
3                  7.0              -1.0
4                  2.0              -1.0
...                ...               ...
6807              14.0              -1.0
6808              15.0               2.0
6809              11.0               5.0
6810               9.0               6.0
6811              12.0               7.0

[6812 rows x 2 columns]

In [30]:
df[df['Min TemperatureC']<0]

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees,na_values
3,1997-01-04,7.0,3.0,-1.0,-2.0,-3.0,-4.0,86.0,63.0,49.0,...,10.0,10.0,27,19,40.0,0.0,2.0,NaN,284,1
4,1997-01-05,2.0,0.0,-1.0,2.0,0.0,-3.0,100.0,95.0,86.0,...,5.0,1.0,14,6,NaN,0.0,7.0,Snow,2,1
6,1997-01-07,2.0,0.0,-2.0,1.0,-1.0,-3.0,100.0,93.0,75.0,...,7.0,0.0,6,2,NaN,0.0,7.0,Snow,43,1
39,1997-02-09,14.0,7.0,-1.0,5.0,2.0,-2.0,93.0,74.0,51.0,...,10.0,10.0,10,3,NaN,0.0,1.0,NaN,359,2
46,1997-02-16,15.0,7.0,-1.0,5.0,3.0,-1.0,100.0,76.0,51.0,...,10.0,10.0,14,3,NaN,0.0,2.0,NaN,214,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6782,2015-12-02,15.0,7.0,-1.0,0.0,-2.0,-3.0,87.0,60.0,22.0,...,22.0,14.0,10,5,NaN,0.0,NaN,NaN,348,3
6783,2015-12-03,17.0,8.0,-1.0,4.0,1.0,-2.0,93.0,70.0,29.0,...,15.0,9.0,10,6,NaN,0.0,NaN,NaN,336,3
6805,2015-12-25,14.0,6.0,-2.0,6.0,2.0,-2.0,100.0,83.0,45.0,...,5.0,2.0,14,5,NaN,0.0,NaN,Fog,349,2
6806,2015-12-26,12.0,6.0,-1.0,6.0,2.0,-2.0,100.0,87.0,56.0,...,7.0,3.0,11,5,NaN,0.0,5.0,NaN,348,2
6807,2015-12-27,14.0,7.0,-1.0,6.0,2.0,-2.0,100.0,77.0,30.0,...,14.0,5.0,14,6,NaN,0.0,8.0,Fog,38,1

In [33]:
df[df['Max TemperatureC']==df['Max TemperatureC'].max()]

,CET,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees,na_values
5573,2012-08-10,41.0,30.0,20.0,7.0,5.0,3.0,38.0,20.0,6.0,...,12.0,10.0,42,10,39.0,0.0,1.0,NaN,338,1

In [35]:
df[['Max TemperatureC','CET']][df['Max TemperatureC']==df['Max TemperatureC'].max()]

      Max TemperatureC         CET
5573              41.0  2012-08-10

In [36]:
df.index

RangeIndex(start=0, stop=6812, step=1)

In [38]:
df.loc[0]

CET                            1997-01-01
Max TemperatureC                      7.0
Mean TemperatureC                     4.0
Min TemperatureC                      2.0
Dew PointC                            5.0
MeanDew PointC                        3.0
Min DewpointC                         2.0
Max Humidity                        100.0
 Mean Humidity                       95.0
 Min Humidity                        76.0
 Max Sea Level PressurehPa           1010
 Mean Sea Level PressurehPa          1008
 Min Sea Level PressurehPa           1004
 Max VisibilityKm                    10.0
 Mean VisibilityKm                    9.0
 Min VisibilitykM                     4.0
 Max Wind SpeedKm/h                    13
 Mean Wind SpeedKm/h                    6
 Max Gust SpeedKm/h                   NaN
Precipitationmm                       0.0
 CloudCover                           6.0
 Events                               NaN
WindDirDegrees                        229
na_values                               2
Name: 0, dtype: object

In [41]:
df.fillna("Not Available",inplace=True)

/tmp/ipykernel_12973/3301399259.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Not Available' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna("Not Available",inplace=True)

In [44]:
df.to_csv("test.csv",index=False)
df.to_excel("test.xlsx",index=False)

In [45]:
df.to_csv("test.csv",index=False,header=False,columns=["CET","Max TemperatureC"])